<ng-container *ngIf="(isListAvailavle$() | async)">
<div class="header" >
<h3>Kolejka</h3>
  <button *ngIf="(isListAvailavle$() | async)" mat-raised-button color="warn" (click)="nextShot()">NEXT</button>
<!--  <button *ngIf="(isListAvailavle$() | async) === false" mat-raised-button color="warn">GENERUJ</button>-->
</div>
  <mat-divider></mat-divider>

<div class="list">
  <ng-container *ngFor="let player of queuePlayers$ | async">
    <app-queue-player-item [player]="player"></app-queue-player-item>
  </ng-container>
</div>
</ng-container>
