:root {
  --white: #ffffff;
  --black: #000000;
  --seo-heihgt: calc(100vh - 67px);
}
html, body { min-height: 100vh; height: auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif}

html, body, #fullheight {
  min-height: var(--seo-heihgt);
}


.font-center {
   text-align: center;
}
